name: Build Docker Image

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - easy_logs/**
      - VERSION
      - Dockerfile

jobs:

  deploy:
    name: Publish to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.docker_username }}
          password: ${{ secrets.docker_password }}

      - name: Build and push
        uses: docker/build-push-action@v3
        with:
            push: true
            tags: ${{ secrets.docker_username }}/easylogs:${{ github.sha }},${{ secrets.docker_username }}/easylogs:latest
